body { font-family: 'Lato', sans-serif; 
    letter-spacing: .07rem;font-size:13px; margin:0; min-height: 100vh;background: #f5f5f5;}
#main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
#header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
fieldset { border:none;  box-sizing: border-box;}
legend { font-size:18px; margin:0px; padding:10px 0px; color:#3B5998; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
select { width: 100%; padding: 3.7px}
input[type=text], input[type=password], input[type=email]  {     border: 1px solid #a9a9a9;
     border-radius: 2px;width:100%; padding:5px;  box-sizing: border-box;}
th{background: #f2f3f4}
th,td{padding: 5px; color:#555;border: 1px solid #A9A1A1;text-align: center;}
table{ margin-top: 20px; margin-bottom: 50px}
table {   border-collapse: collapse;width: 100%;}
.span_normal{color: #777777;  font-style: italic;}
.prev, .next { background-color: #3B5998;
    border: 2px solid #29487d;
    font-weight: bold;    padding: 9px 10px;border-radius:3px;  margin-top: 10px; color:#fff; text-decoration:none;}
.prev:hover, .next:hover { background-color:#000; text-decoration:none;}
.prev { float:left;}
.next { float:right; cursor: pointer;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px 0px  25px 0; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}
#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
#makeWizard:hover { background-color:#000;}
.maestro_full{ width: 100%;}
.maestro_max{ width: 950px ; margin: 0 auto;background: #fff;}
.espacios{     margin: 50px 0; padding: 30px;    box-sizing: border-box;    border: 1px solid #a9a9a9;    border-radius: 3px;}
.espacio_forzado{  margin-bottom: 100px}
.col-mitad{ display: inline-block; vertical-align: top; width: 47% }
.col-mitad:nth-child(2n+1){ margin-left: 6% }

.col-50{ display: inline-block; vertical-align: top; width: 47% }
.col-50:nth-child(2n){ margin-left: 6% }

.col-30 > select { display: inline-block; vertical-align: top; width: 30% ;}
.col-30 > select:nth-child(n+2){ margin-left: 5% }

.col-45 > div { display: inline-block; vertical-align: top; width: 45% ;}
.col-45 > div:nth-child(n+2){ margin-left: 10% }

.col-40 > select { display: inline-block;vertical-align: top;width: 47.5%}
.col-40 > select:nth-child(2n+1) { margin-left: 5% }
.espacio-30 { margin-right: 30px}

.top-50 { margin-top: 50px}
.btn-right{ float: right; 
            margin-top:-10px;
    
    float: right;
    margin-top: -20px;
    color: #fff;
    background: #2ecc71;
    border: 1px solid #2dbf32;
    border-radius: 2px;
    padding: 9px;
    /* vertical-align: top; */
    font-weight: bold;
    top: -10px;
    cursor: pointer;
    
    }
.width-60{ width: 60px}
.width-90{ width: 90px}
.center{text-align: center}
#enviar_disponibilidad{ margin-top:30px}
#SaveAccount ,#enviar_disponibilidad{
    padding: 10px;
    margin-right: 5px;
    height: 39px;
    min-width: 100px;
    background: #29487d;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #1f375f;
    border-bottom: 2px solid #232d6f;
}
#SaveAccount:hover,#enviar_disponibilidad:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.1s ease-in;
}
#SaveAccount:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.maestro_oscuro{ background: rgba(0,0,0,0); top:0; left:0 ; width: 100%; height: 100%; position: fixed; z-index: -1}
.maestro_oscuro.on{ background: rgba(0,0,0,.3);z-index:1}

.modal_doctorados,
.modal_experiencia,
.modal_idiomas,
.modal_informaticos,
.modal_capacitaciones,
.modal_otros,
.modal_formacion{width: 500px;
    margin: auto 0;
    position: fixed;
    z-index: -1;
    right: 0;
    display: none;
    top: 15%;
    margin-left: auto;
    background: #fff;
    padding: 30px;
    left: 0;
    margin-right: auto;}

.modal_doctorados.on,
.modal_experiencia.on,
.modal_idiomas.on,
.modal_informaticos.on,
.modal_capacitaciones.on,
.modal_otros.on,
.modal_formacion.on { z-index: 99999; display: block;}

.table  input[type=text]{ border:0; color:#444;text-align: center; background: #fff}
.letra_normal{ font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    color: #444;}
    
 .line{ width: 100%; height: 1px ; background:#CECECE;}
 .error-message{    
    color: red;
    font-size: 17px;
    display: inline-block;
    margin-top: 16px;
    }
    
 .menu_list li{
    padding: 10px 0;
    list-style-type: decimal-leading-zero;
    font-size: 15px;
}
.breadcump{
  margin: 0;
  padding: 0;
}
.breadcump li{
      list-style-type: none;
    display: inline-table;
    padding: 7px;
    color: #444;
    font-size: 14px;
}

input, select{
  text-transform: uppercase;
}

.color_de_error{
  border: 1px solid red;
}


.color_de_error{
  border: 1px solid red !important;
}

.color_de_normal{
  border: 1px solid #000;
}

ul>li {

}
col-mitad ul{
     list-style: initial;
    list-style-type: none;
    /* font-size: 14px; */
    padding: 14px 3px;
}


/*  letra formato general */
h1,h2,h3,h4,h5,h6
{
 /* font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
}

input,select {
  font-family: 'Lato', sans-serif; letter-spacing: .07rem;
}


/*.primer_lado,
.segundo_lado,

.tercer_lado{
  display: inline-block;
}*/
.primer_lado img{
  width: 70%;
}
.tercer_lado  img{
  width: 43%;
}
.primer_lado{
    top:0;
  position: absolute;
  
}
.segundo_lado{
/*  width: 80%;*/
  text-align: center;
}
.segundo_lado h2{
  
    font-size: 20px;
    margin: 12px;
    font-family: "oswald";

}
.segundo_lado h3{
    font-family: "oswald";
    background: #29487d;
    color: white;
    font-size: 20px;
    margin: 7px 0;
    padding: 8px 0;
  
}

.tercer_lado{
  width: 20%;
  
  text-align: right;
  right:50px;
  top:0;
  position: absolute;
  
}


.footer{
      background: #000;
    color: #fff;
    position: fixed;
    padding: 0px 0;
    bottom: 0;
}

.footer p{
  margin: 6px;
  font-size: 12px;
}

.menu_list div, .menu_list a, .menu_list p{
  display: inline-block;
  vertical-align: middle;
}
.menu_list li{
  list-style: none;
}
.menu_list a{
  text-decoration: none;
}
.menu_list{
  padding: 0;
}

.check_false{
  color: #2980b9;
}
.check_true{
  color : #2ecc71;
}

.check_mid{
  color: #777777;
}

.lados_footer{
  display: inline-block;
  vertical-align: middle;
}
.lados_footer_1{
  width: 80%;
}
.lados_footer_2{
  width: 20%;
  text-align: right;
}
.lados_footer_2 a,.lados_footer_2 div{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
      font-size: 15px;
      color:#f66;
      
}

.vert_mid{
  vertical-align: middle;
  display: inline-block;
}

input[type="email"]{
  text-transform: initial !important;
}